.usercards > a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.usercards > a:hover p {
  color: var(--primary);
}
.usercards p {
  margin: 0;
}
.usercards > a p:last-child {
  font-size: 0.8em;
  color: #bbb;
}
